//
// MDC Theme
//

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #ffffff;
$mdc-theme-secondary: #676778;
// Other Svelte color: #40b3ff

$mdc-theme-background: #222;
$mdc-theme-surface: #222;

$mdc-theme-error: $material-color-red-900;
