@import "@material/typography/mdc-typography";

:root {
  --cowbell-color: rgba(194, 224, 100, 0.94);
  --shaker-color: rgba(158, 224, 176, 0.94);
  --ride-color: rgba(131, 193, 224, 0.94);
  --high-color: rgba(127, 146, 224, 0.94);
  --medium-color: rgba(151, 140, 224, 0.94);
  --low-color: rgba(194, 157, 224, 0.94);
  --open-color: rgba(224, 132, 188, 0.94);
  --closed-color: rgba(224, 128, 141, 0.94);
  --clap-color: rgba(224, 102, 72, 0.94);
  --snare-color: rgba(224, 140, 38, 0.94);
  --rim-color: rgba(224, 165, 31, 0.94);
  --kick-color: rgba(224, 182, 26, 0.94);
}

body {
  background: #484848;
  font-family: Roboto, sans-serif;
  color: #fff;
  margin: 0;
}
